// src/styles/_mixins.scss
@use "./variables" as *;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin respond-to($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: $mobile) { @content; }
  } @else if $breakpoint == tablet {
    @media (max-width: $tablet) { @content; }
  } @else if $breakpoint == desktop {
    @media (max-width: $desktop) { @content; }
  }
}